<div id="container_hb">
    <div id="container_note">
        <h1 id="title_container" class="title">Feliz Cumpleaños!!!</h1>
        <p class="text">preciona en el boton para ver la carta</p>
        <button type="button" id="btn_note" class="btn_hb" (click)="hideLetter()">
            <i class="bi bi-caret-down"></i>
        </button>
        <div id="note">
            <h2 id="title_note" class="title">Carta a una señorita</h2>
            <p id="txt_note1" class="txt_note text">Es sorprendente pensar en lo mucho que has crecido… parece ayer cuando te conocí como esa dulce y tierna niña de apenas trece añitos, y ya hoy estamos celebrando tu vigésimo primer cumpleaños.</p>
            <p id="txt_note2" class="txt_note text">Estoy muy orgulloso de la mujer en la que te has convertido, todo lo que te propones lo consigues y me inspira verte siempre luchar por ser la mejor versión de ti misma, eres de esas personas que, sin importar los obstáculos, aunque tenga que derramar lagrimas por el camino, consigue mirar adelante y continuar para al final demostrarse así misma lo fuerte y grandiosa que es.</p>
            <p id="txt_note3" class="txt_note text">No podría estar mas feliz de saber que alguien tan espectacular como tu se encuentra a mi lado, ayudándome a crecer, a madurar y a mejorar, porque solo tu has podido conseguir eso en mí, si hoy en día puedo decir quién soy, es en gran parte a ti, que siempre has estado para mi en las buenas y en las malas y que sin importar que, se que puedo contar contigo.</p>
            <p id="txt_note4" class="txt_note text">Se que esto ya lo sabes y no lo dudo, pero no pierdo nada volviendo a mencionarlo… Estoy muy orgulloso de ti, de quien eres y de quien serás, y sabes que podrás contar conmigo por siempre, porque, aunque aun no este formalizado, ya esta vida la tengo destinada a estar a tu lado, y mientras sea así, me encargare a acompañarte en tu camino sin importar que tan difícil puede tornarse.</p>
            <p id="txt_note5" class="txt_note text">Así como tú siempre estas para mí, cuenta con mi presencia siempre para ti.</p>
            <p id="txt_note6" class="txt_note text">El recordar que ya no eres una niña es curioso, pensar que ya no eres adolescente me sorprende… eres una señorita en toda regla… y no puedo esperar a que esta señorita sea la persona que vea al despertar cada día.</p>
            <p id="txt_note7" class="txt_note text">Por muchos días como este mas a tu lado…</p>
            <p id="txt_note8" class="txt_note text">¡Feliz cumpleaños!</p>
            <p id="txt_note9" class="txt_note text">Espero lo disfrutes demasiado,</p>
            <p id="txt_note10" class="txt_note text">Te amo pewkenyeyu.</p>
            <p id="txt_note11" class="txt_note text">De Justyn.</p>
            <p id="txt_note12" class="txt_note text">PD: Tienes unos regalos mas disponibles aquí, da clic en el boton:</p>
            <button type="button" id="btn_gift" class="btn_hb" (click)="hideGift()">Regalos Extra</button>
        </div>
    </div>
    <div id="container_gift">
        <h2 id="title_gift" class="title">Regalos Extra</h2>
        <p id="gift1"class="text text_gift">BONO para cangear un abrazo de oso (uso diario de por vida)</p>
        <p id="gift2"class="text text_gift">BONO para cangear un beso en el cachete (uso diario de por vida)</p>
        <p id="gift3"class="text text_gift">BONO para cangear un beso en la boca (uso diario de por vida)</p>
        <p id="gift4"class="text text_gift">BONO para cangear un beso en la frente (uso diario de por vida)</p>
        <p id="gift5"class="text text_gift">BONO para cangear una prenda de ME&CEG (uso mensual hasta finalizar el año)</p>
        <p id="pd_text"class="text text_pd">PD: Si terminamos se cancelan los bonos jeje asi que piensatelo</p>
    </div>
</div>